[submodule "pyaccessories"]
	path = pyaccessories
	url = https://github.com/devonpmack/pyaccessories.git
[submodule "accessoryfunctions"]
	path = accessoryfunctions
	url = https://github.com/adamkoziol/accessoryfunctions.git
[submodule "py-accessories"]
	path = py-accessories
	url = https://github.com/devonpmack/py-accessories.git
